# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Unity_NeonImpact.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Kadir\Projeler\Unity\Neon Impact\Unity_NeonImpact\.idea\.idea.Unity_NeonImpact\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
